@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600&display=swap');
@import "tailwindcss";



:root {
  --background: #003F6B;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003F6B;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
}

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif, Arial, Helvetica;
}
.font-urbanist {
  font-family: 'Urbanist', Helvetica;
}
.font-lora {
  font-family: 'Lora', serif, Georgia, Times, 'Times New Roman';
}
.font-dm-sans {
  font-family: 'DM Sans', sans-serif, Arial, Helvetica;
}

